<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.invest.dao.userDao">
    <sql id="baseColumn">
username,password,email
</sql>
    <!-- 缓存类配置 -->
<cache eviction="LRU" type="com.invest.redis.RedisCache"></cache>

    <select id="selectUser" parameterType="java.lang.String" resultType="com.invest.pojo.User" useCache="true">
        select <include refid="baseColumn"></include>
        from newuser where username=#{username}
    </select>
    <insert id="insertUser" parameterType="com.invest.pojo.User">
        insert into newuser(<include refid="baseColumn"></include>) values(#{username},#{password},#{email})
    </insert>
    <update id="updateUser">
update newuser set password=#{password},email=#{email} where username=#{username}
</update>
    <delete id="deleteUser">
delete from newuser where username=#{username}
</delete>
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache" >
        <property name="timeToIdleSeconds" value="3600"/>
        <property name="timeToLiveSeconds" value="3600"/>
        <property name="maxEntriesLocalHeap" value="1000"/>
        <property name="maxEntriesLocalDisk" value="10000000"/>
        <property name="memoryStoreEvictionPolicy" value="LRU"/>
    </cache>
</mapper>